<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand" style="padding-top: 5px"><img src="/modules/core/views/fitty_logo.png"/></a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>

			<!-- TODO Set the signup and signin log in a separate template html to get rid of clutter-->

		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li data-ng-controller="AuthenticationController">
			<form data-ng-submit="signin()" class="signin" autocomplete="off">
			<div class ="row">
				<div class="col-xs-5" style="padding-top: 8px; padding-right: 0px">
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</div>
				<div class="col-xs-5" style="padding-top: 8px; padding-left: 2px; padding-right: 0px">
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					<div class="forgot-password">
						<a href="/#!/password/forgot" style="float: right; font-size: 11px; padding-top: 2px; padding-bottom: 2px">Forgot your password?</a>
					</div>
				</div>
				<div class="col-xs-2" style="padding-top: 8px; padding-left: 5px">
					<button type="submit" class="btn btn-success">Sign in</button>
				</div>

	</div>
			</form>
		</li>
		</ul>
		<!-- Test Code -->
		<ul class = "nav navbar-nav navbar-left" data-ng-show ="authentication.user" >
			<li ui-route="/profilepage" ng-class="{active: $uiRoute}">
				<a href = "/#!/profilepage"> Profile </a>
			</li>
		</ul>
		<!--End Test Code -->
<!-- TODO Set the user abilities and login stuff in a separate template html to get rid of clutter-->
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/setgoals">Goal Setting</a>
					</li>
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
				<!--	<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>-->
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
