<body>
<section data-ng-controller="HomeController">
	<style>
		body {
		  background: url(modules/core/views/dumbbell.jpg) no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
			margin-bottom: 40px;
		}
		.footer {
		  position: absolute;
		  bottom: 0;
		  width: 1170px;
		  /* Set the fixed height of the footer here */
		  height: 40px;
		  background-color: transparent;
			color: #ffffff;
			text-align: right;
		}
		.footer > .container {
	  	padding-right: 15px;
  		padding-left: 15px;
		}
		.heading {
			border-bottom: 1px solid #eee;
			margin-top: 20px;
			margin-right: 0px;
			margin-bottom: 20px;
			padding-bottom: 9px;
		}
		.wells {
			background-color: rgba(100,100,100,0.3);
			border-radius: 5px;
			padding-bottom: 10px;
		}
	</style>

	<!--<div id = "nav">
		<h4><a href="html_nav1.asp">Nav1</a> <a href="html_nav2.asp">Nav2</a> <a href="html_nav3.asp">Nav3</a> <a href="html_nav4.asp">Nav4</a></h4>
	</div>-->
<div class="row" style="padding-top: 45px">
	<div class="wells col-xs-6">
	<font color="#ffffff">
		<div class="heading">
			<h2 style="font-family: 'Open Sans', sans-serif">Welcome to Fitty</h2>
		</div>
			<p>Fitty helps you schedule when to workout, what to workout, and how to workout. With notifications reminding you when your workouts are, a plan for each workout, and instructions on how to perform each routine safely, you're out of excuses!</p>
			<p><b>Let's get Fit, with Fitty!</b></p>
	</font>
	</div>
</div>

<div class="row">
	<div class="footer col-xs-12">
		<p>Contact Us</p>
	</div>
</div>

</section>
</body>
