<body>
<section data-ng-controller="HomeController">
	<style>
		body {
		  background: url(modules/core/views/dumbbell.jpg) no-repeat center center fixed;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
	</style>

	<!--<div id = "nav">
		<h4><a href="html_nav1.asp">Nav1</a> <a href="html_nav2.asp">Nav2</a> <a href="html_nav3.asp">Nav3</a> <a href="html_nav4.asp">Nav4</a></h4>
	</div>-->
<div class="row" style="padding-top: 45px">
	<div class="col-xs-7">
		<div class="page-header">
			<h2><span class="label label-success">Welcome to Fitty</span></h2>
		</div>
			<p>Fitty helps you schedule when to workout, what to workout, and how to workout. With notifications reminding you when your workouts are, a plan for each workout, and instructions on how to perform each routine safely, youâre out of excuses!</p>
			<p><b>Let's get Fit, with Fitty!</b></p>
	</div>
</div>
</section>
</body>
