<div class = "container"  data-ng-controller="HeaderController">
	<br>
			<style>
		h1{background-color:lime};
		body{background-color:beige;};
		}
		</style>

	<h1><span data-ng-bind = "authentication.user.displayName"></span>
	</h1>
	<div ui-route="/setgoals" ng-class="{active: $uiRoute}">
		<a href="/#!/setgoals">Set Goals</a>
	</div>
	<div class ="row" >
		<div class= "col-md-2">
			<br>
			<img src="modules/users/img/Default_profile.gif" alt="Profile Picture" width="220" style ="border:3px solid black" height="200">
		</div>
		<br>
		<div class="col-md-7 col-sm-3 col-md-offset-1 " style= "border:2px solid black">
			<style>
				p{background-color:lightgreen};

				}
			</style>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallSuspendisse varius, sem ac pharetra gravida, nisi risus tincidunt elit, eget vehicula elit orci efficitur dolor. Morbi sed massa magna. Suspendisse tincidunt leo odio, non fermentum leo sagittis quis. Aenean venenatis vitae mauris vitae tincidunt. Morbi at ligula dui. Pellentesque efficitur tincidunt lacus, a commofelis sollicitudin a. Integer id magna pretium, imperdiet magna et, gravida velit. Nulla nec diam cursus, tincidunt est ut, volutpat mauris. Duis dignissim interdum fermentum. Nunc sed odio erat. Fusce a dui non mauris interdum commodo.is libero id ex consequat, at tempus ipsum eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed tempor metus sed aliquam graviday. Fusce a dui non mauris interdum commodo.is libero id ex consequat, at tempus
			</p>
		</div>
	</div>
	<br>
	<br>
	<div class="col-md-3 col-mid-offset-2">
		<h4>
	 	<a href="url">See more friends</a>
		</h4>
	
		<div class = "row-md-offset-1">
			<a href="url">
			<img src="modules/users/img/Default_profile.gif" alt="Profile Picture" width="100" style ="border:2px solid black" height="100" align="left">
			
			<a href="url">
			<img src="modules/users/img/Default_profile.gif" alt="Profile Picture" width="100" style ="border:2px solid black" height="100" align="left">
		</div>
		<div class = "row-md-offset-1">
		<a href="url">
			<img src="modules/users/img/Default_profile.gif" alt="Profile Picture" width="100" style ="border:2px solid black" height="100" align="left">
			
			<a href="url">
			<img src="modules/users/img/Default_profile.gif" alt="Profile Picture" width="100" style ="border:2px solid black" height="100" align="middle">
			</a>
		</div>

		
		
		<p>
		<br>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallSuspendisse varius, sem ac pharetra gravida, nisi risus tincidunt elit, eget vehicula elit orci efficitur dolor. Morbi sed massa magna. Suspendisse tincidunt leo odio, non fermentum leo sagittis quis. Aenean venenatis vitae mauris vitae tincidunt. Morbi at ligula dui. Pellentesque efficitur tincidunt lacus, a commofelis sollicitudin a. Integer id magna pretium, imperdiet magna et, gravida velit. Nulla nec diam 
		</p>
		
	</div>

	<div class = "col-md-7">
		<div class="row">
		    <div class="input-group" data-ng-controller="PostsController as posts">
		            <form class="form-horizontal" data-ng-submit="posts.create()" novalidate>
		            <fieldset>
		                <div class="form-group">
		                    <label class="control-label" for="name">Post Status!/label>
		                    <div class="controls">
		                        <input type="text" data-ng-model="posts.name" id="name" class="form-control" placeholder="Name" required>
		                    </div>
		                </div>
		                <div class="form-group">
		                    <input type="submit" class="btn btn-default">
		                </div>
						<div data-ng-show="error" class="text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
		            </fieldset>
		        </form>
		    </div>
		</div>
	</div>
  <br>



  </div>

	</div>
</div>	
