<section class="row" data-ng-controller="AuthenticationController as authen">
	<section class="row" data-ng-controller="SettingsController as settings">
		<div class = "text-center form-group" ui-route="/profilepage" ng-class="{active: $uiRoute}">
				<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="authen.signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<br>
				<h3>Completion</h3>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			    <span class="sr-only">60% Complete</span>
			  </div>
			</div>
				<br>
				<div class="form-group">
					<label for="username">Weight</label>
					<input type="text" id="weight" name="weight" class="form-control" data-ng-model="user.weight" placeholder="Weight">
				</div>  <!-- TODO make this only a number WEIGHT and AGE -->
				<div class="form-group">
					<label for="username">Age</label>
					<input type="text" id="age" name="age" class="form-control" data-ng-model="user.age" placeholder="age">
				</div>
				<div class="form-group">
					<label for="gender">Gender</label>
					<select name = "gender" class = "form-control" data-ng-model = "user.gender" placeholder = "Gender">
						<option value = "" selected disabled>Gender</option>
						<option value = "Male">Male </option>
						<option value = "Female">Female </option>
					</select>
				</div>
        <div class="col-xs-12 col-sm-4 text-center">
            <button type="button" class="btn btn-success text-center" ng-click="authen.modalCreate('lg')">
                <i class="glyphicon glyphicon-user"></i> </br>
                New User
            </button>
        </div>      



<!--			<a href="/#!/profilepage">
				<button type="submit" class="btn btn-large btn-primary" >Profile Page</button>
			</a>   -->
			</fieldset>
		</form>
	</section>
	
</section> 
