<!--
        Need to be able to route the friend controller from the user controllers
        because instead of displaying friends we are displaying all the users here
        All the Friend and user implementation will be in the friend controller

        Need to take this template into the right routing     I dont know how to do that

        for the schema of the users look at the schema info in the directory

        app/models/user.server.model.js

        Jacob Cukjati
-->


<section data-ng-controller="FriendsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Your Friends</h1>
    {{friend}}
    <div class="list-group">
        <input type="text" ng-model="searchKeyword" placeholder="search for friend" />
        <label>Search</label>
        <a data-ng-repeat="user in users | filter:searchKeyword" data-ng-init="incrementIndex()" class="list-group-item">
            {{user}}
			<small data-ng-init="incrementIndex()" class="list-group-item-text">
				User Created On
				<span data-ng-bind="user.created | date:'medium'"></span>
				<span data-ng-bind="user.firstName"></span>
            <!--
                To display the information in the user you need to use user.user_id.[info of user]
                Like so
            -->
                {{user.user_id.lastName}}
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="user.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!friends.$resolved || friends.length">
    	No Friends yet, why don't you <a href="/#!/friends/create">find one</a>?
    </div>
</section>  