<body>
<style>
	body {
		background: url(wallpaper.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin-bottom: 40px;
	}
</style>
<section data-ng-controller="ExercisesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="exercise.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == exercise.user._id">
		<a class="btn btn-primary" href="/#!/exercises/{{exercise._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="exercise.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="exercise.user.displayName"></span>
		</em>
	</small>
</section>
</body>
