<section data-ng-controller="AuthenticationController as authen">
    <div class="modal-header">
            <h3 class="modal-title">New User</h3>
    </div>
    Would you like to make a Workout schedule right now, or would you like to do it later?
    <div class="modal-footer">
        <button id="CreateScheduleNow" class="btn btn-success btn-lg" ng-click="authen.create(); ok()" ng-disabled="createCustomerForm.$invalid">NOW</button>
        <button id="CreateScheduleLater" class="btn btn-warning btn-lg" ng-click="cancel()">LATER</button>
    </div>
</section>