<!--
        Need to be able to route the friend controller from the user controllers
        because instead of displaying friends we are displaying all the users here
        All the Friend and user implementation will be in the friend controller

        Need to take this template into the right routing     I dont know how to do that

        for the schema of the users look at the schema info in the directory

        app/models/user.server.model.js

        Jacob Cukjati
-->


<section data-ng-controller="SearchusersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    current user selected to be a friend
    {{friend}}
    <div class="list-group">
        <input type="text" ng-model="searchKeyword" placeholder="search for friend" />
        <label>Search</label>
        <div data-ng-repeat="user in users | filter:searchKeyword" data-ng-init="incrementIndex()" class="list-group-item">
            <h2>{{user.displayName}}</h2>
            <img src="/modules/searchusers/views/avatar.jpg" class="img-thumbnail" alt="Responsive image">
            <small data-ng-init="incrementIndex()" class="list-group-item-text">
                User Created On
                <span data-ng-bind="user.created | date:'medium'"></span>
                <span data-ng-bind="user.firstName"></span>
                {{user.lastName}}
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="user.name"></h4>
<!--
            TODO the create user function here needs to be under the controler of friends cause we are
            creating a friend and not a user
-->


            <button class="btn btn-success btn-sm" ng-click="create(user)" ng-disabled="">Add User to Friend List</button>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!friends.$resolved || friends.length">
        No Friends yet, why don't you <a href="/#!/friends/create">create one</a>?
    </div>
</section>
